cffi @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_e4xd9yd9i2/croot/cffi_1736182819442/work
click @ file:///home/conda/feedstock_root/build_artifacts/click_1734858813237/work
cryptography @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_c5inr2hqv1/croot/cryptography_1732129882466/work
dnspython @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_ac52k4vqs2/croot/dnspython_1703096969321/work
email-validator @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/email-validator-meta_1707342229479/work
Flask @ file:///home/conda/feedstock_root/build_artifacts/flask_1731556349671/work
Flask-Login==0.6.3
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.2
idna @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_a12xpo84t2/croot/idna_1714398852854/work
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1737420181517/work
infinity==1.5
intervals==0.9.2
itsdangerous @ file:///home/conda/feedstock_root/build_artifacts/itsdangerous_1733308265247/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1734823942230/work
MarkupSafe @ file:///home/conda/feedstock_root/build_artifacts/markupsafe_1733219583522/work
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
python-dateutil @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_0a_6300s49/croot/python-dateutil_1716484897336/work
python-dotenv @ file:///home/conda/feedstock_root/build_artifacts/python-dotenv_1733243180666/work
setuptools==75.1.0
six @ file:///tmp/build/80754af9/six_1644875935023/work
SQLAlchemy==2.0.38
typing_extensions==4.12.2
validators==0.34.0
Werkzeug @ file:///home/conda/feedstock_root/build_artifacts/werkzeug_1733160440960/work
wheel==0.44.0
WTForms==3.2.1
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1732827521216/work
