{% extends "base.html" %}
{% import "bootstrap_wtf.html" as wtf %}

{% block content %}
<style>
    .purple-header {
        background-color: #6f42c1 !important;
        color: white !important;
    }
    .btn-purple {
        background-color: #6f42c1 !important;
        color: white !important;
    }
    .btn-purple:hover {
        background-color: #D8B7DD !important;
        color: white !important;
    }
     .bold-text {
        font-weight: bold !important; /* Force bold text */
    }
</style>

<div class="container">
    <div class="row my-5">
        <div class="col-md-10 mx-auto text-center">
            <h1 class="display-4 fw-bold">Create Task</h1>
            <p class="lead text-muted">Add a new task for groups to complete</p>
            <hr class="my-4">
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card shadow">
                <div class="card-header purple-header">
                    <h3 class="mb-0">Task Details</h3>
                </div>
                <div class="card-body">
                    <p class=="mb-4">Create a task using the following parameters. Please note that each existing group will be assigned the task immediately with status "Unselected" and will start tracking its individual progress in the database.</p>

                    {{ wtf.quick_form(form, action="", method="post", id="", novalidate=True, autofocus=False) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}