{% extends "base.html" %}
{% import "bootstrap_wtf.html" as wtf %}

{% block content %}
<div>
    <h1>Private Account For Admin</h1>

    <p>Hello {{ current_user.username }}</p>

    <p>This page is only available to you as the currently logged in user</p>

    <p>The email address we have recorded for you is: {{ current_user.email }}</p>

    <h3>List of Groups and Users </h3>
    <div class="container mt-4">
        <!-- Bootstrap Table Responsive with Rounded Corners -->
            <head>
            <style>
            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
                text-align: center;
            }

            </style>
            </head>
            <body>
            <table class="table table-bordered table-striped" style="width:100%">
            <thead class="table-dark">
            <tr>
                <th>Group Number</th>
                <th colspan="5">Members</th>
            </tr>
            </thead>
            <tbody>
            {% for group in all_groups %}
                <tr>
                    <td>{{ group.id }}</td>
                       {% for user in group.users %}
                           <td>{{ user.username }}</td>
                       {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
            </table>
            </body>
    </div>
</div>
{% endblock %}
