{% extends "base.html" %}
{% import "bootstrap_wtf.html" as wtf %}

{% block content %}
<div class="container">
    <div class="row my-5">
        <div class="col-md-10 mx-auto text-center">
            <h1 class="display-4 fw-bold">Register</h1>
            <p class="lead text-muted">Here you can enter your student details to activate your Mix&Match account and choose your password. Please make sure to enter all of your details as they appear in the official university records as these will be used to verify your identity.</p>
            <hr class="my-4">
        </div>
    </div>

    </div>
    <div class="row justify-content-center">
    <div class="col-md-10">
        <div class="card shadow">
            <div class="card-header purple-header">
                <h3 class="mb-0">Register</h3>
            </div>
            <div class="card-body">
                {{ wtf.quick_form(form, action="", method="post", id="", novalidate=True, autofocus=False) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
